* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffe6f0, #ffd6e8);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffffcc;
    backdrop-filter: blur(12px);
     padding: 30px;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    
}

.foto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid #ff2e63;

    box-shadow:
        0 0 10px #ff2e63,
        0 0 20px #ff2e63,
        0 0 40px #ff2e63;

    animation: brilhoFade 2s infinite alternate;

    display: block;
    margin: 0 auto 20px;
}

@keyframes brilhoFade {
    from {
        box-shadow:
            0 0 5px #ff2e63,
            0 0 10px #ff2e63,
            0 0 20px #ff2e63;
    }

    to {
        box-shadow:
            0 0 15px #ff2e63,
            0 0 30px #ff2e63,
            0 0 60px #ff2e63;
    }
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.2rem;
    color: #c9184a;
    margin-bottom: 15px;
}

.texto {
    font-size: 1rem;
    color: #555;
    line-height: 1.7;
    margin-bottom: 25px;
}

button {
    background: linear-gradient(135deg, #ff8fab, #ffb3c6);
    border: none;
    color: white;
    padding: 14px 24px;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

button:hover {
    transform: scale(1.05);
}

.mensagem {
    margin-top: 22px;
    font-size: 1.1rem;
    color: #c9184a;
    font-weight: 600;
    display: none;
}

/* ----------- cell ----------- */
@media (max-width: 480px) {

    .card {
        padding: 25px 18px;
        border-radius: 22px;
    }

    .foto {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 1.8rem;
    }

}